*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body{
  background: #2980B9;  
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); 
  background-attachment: fixed;
  direction: rtl;
  text-align: center;
}
.Main{
  margin-top: 70px;
}
.shabatTitle{
  font-size:0.7rem;
  margin:0 10px  ; 
}
.MuiGridListTile-root{
  margin: 10px;
  min-width: 230px;
  width: 30%;
  max-width: 250px;
}
.makeStyles-search-3{
  background: none !important; 
}
@media screen and (min-width: 600px) {
  .shabatTitle{
    font-size:1.1rem;
  }
}